<div class="row">
    <!--Main Content -->
    <div class="col-md-6 col-md-offset-3 col-xs-9 notice-content">
        <h1 id="topic1">民宿緣起</h1>
        <h2>h2</h2>
        <h3>h3<h3>
        <h4>h4</h4>
        <h5>h5<h5>
        <strong>strong<strong>
        <small>small</small>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <hr>
        <h1 id="topic2">民宿主人</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electron</p>
        <hr>
        <h1 id="topic3">地理位置</h1>
        <div class="row location-info">
            <div class="col-md-9 col-xs-9">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3642.80776904118!2d120.98104691547877!3d24.073073084431357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468de74951637a1%3A0x814efaa2948de93e!2z5oOg6JOA5p6X5aC05pyI5aSi55Sw!5e0!3m2!1szh-TW!2stw!4v1501776381768"></iframe>
            </div>

            <div class="col-md-3 col-xs-3">
                <h3>景觀莊園</h3>
                  <p>位於伊露民宿</p><br>
                  <p>正對面斜坡</p><br>
                  <p>右邊第二個入口</p><br>
                  <a href="#">詳細介紹</a>
            </div>
        </div>
        <div class="blank-bottom"></div>
        <div class="row location-info">
            <div class="col-md-3 col-xs-3">
                <h3>花樹營區</h3>
                  <p>位於景觀莊園</p><br>
                  <p>往前900公尺</p><br>
                  <p>路邊有大型招牌</p><br>
                  <a href="#">詳細介紹</a>
            </div>
            <div class="col-md-9 col-xs-9">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7285.2664332521645!2d120.988948980088!3d24.07921760552368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468dde218740d53%3A0xec561df6922b0068!2z5pyI5aSi55SwIOiKseaoueeHn-WNgA!5e0!3m2!1szh-TW!2stw!4v1502005067922"></iframe>
            </div>
        </div>
        <hr>
        <h1 id="topic4">交通資訊</h1>
        <h2>自行開車
          <h3>路線一:</h3>
          <p>國道3號至霧峰系統交流道(國3-214K)，轉往國道6續行至埔里交流道(國6-34K)往國姓方向，沿台21線續接投80縣道。<br>【月夢田庭園民宿】位於投80線6公里處眉原派出所前右轉即達。<br>
(下國6埔里出口後至【月夢田庭園民宿】約30分鐘車程)。</p>
          <h3>路線二:</h3>
          <p>國道3號至霧峰系統交流道(國3-214K)，轉往國道6續行至國姓交流道，轉往埔里沿省道台14線往國姓方向(往東)，過柑林隧道後前行約600公尺(台14線39公里處)左轉進入往國姓市區，抵長流加油站右轉接省道台21線，經糯米橋後轉接投80縣道(往惠蓀林場的棕色路標)。<br>【月夢田庭園民宿】位於投80線6公里處眉原派出所前右轉即達。<br>
(下國6國姓出口後至【月夢田庭園民宿】約30分鐘車程)。</p>
          <h3>路線三:</h3>
          <p>走中投快速道路到達草屯鎮後(或由中山高王田交流道下經台14線)，經省道台14線往國姓方向(往東)，前行至福龜，過柑林隧道後前行約600公尺(台14線39公里處)左轉進入往國姓133縣道，經國姓市區，抵長流加油站右轉接省道台21線，經糯米橋後轉接投80縣道(往惠蓀林場的棕色路標)。<br>【月夢田庭園民宿】位於投80線6公里處眉原派出所前右轉即達。<br>(下國3草屯出口後至月夢田庭園民宿約60分鐘車程)。</p>
        </h2>
        <h2>大眾運輸</h2>
        <p>台中往埔里，可搭全航客運或國光號至埔里總站後轉搭南投客運，往惠蓀林場於投80縣道6公里處(眉原部落)下車。</p>
        <img src="http://0910566765.emmm.tw/sys/club_tra/map/map_65865_0b.jpg" style="width:100%">
    </div>
    <!--Side Nav Bar -->
    <nav class="col-md-3 col-xs-3 bs-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked fixed">
            <li>
                <a href="#topic1">民宿緣起</a>
            </li>
            <li>
                <a href="#topic2">民宿主人</a>
            </li>
            <li>
                <a href="#topic3">地理位置</a>
            </li>
            <li>
                <a href="#topic4">交通資訊</a>
            </li>
        </ul>
    </nav>
</div>
<div class="blank-bottom"></div>
