<div class="row">
  <div class="col-md-12">
    <!-- Swiper Silder
    ================================================== -->
    <!-- Slider main container -->
    <div class="swiper-container main-slider" id="viewpic">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider-bg-position" style="background:url('http://grafreez.com/wp-content/temp_demos/burnout/img/1.jpg')" data-hash="slide1">
          <h2>[美照一+敘述] It is health that is real wealth and not pieces of gold and silver</h2>
        </div>
        <div class="swiper-slide slider-bg-position" style="background:url('http://grafreez.com/wp-content/temp_demos/burnout/img/3.jpg')" data-hash="slide2">
          <h2>[美照二+敘述] Happiness is nothing more than good health and a bad memory</h2>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
      <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
    </div>
  </div>
</div>
<section class="service-sec" id="news">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="heading">
          <h2 class="text-left">最新消息</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
            <div class="caption">
              <h3>
                [活動一]
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p class="text-right">
                <a class="btn btn-primary" href="#">詳情</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail Second" src="http://lorempixel.com/output/city-q-c-600-200-1.jpg" />
            <div class="caption">
              <h3>
                [活動二]
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p class="text-right">
                <a class="btn btn-primary" href="#">詳情</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-200-1.jpg" />
            <div class="caption">
              <h3>
                [活動三]
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p class="text-right">
                <a class="btn btn-primary" href="#">詳情</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-right">
      <a class="btn" href="#">了解更多 »</a>
    </p>
  </div>
</section>
<section class="service-sec" id="shortView">
  <div class="text-left center-block">
    <div class="row">
      <div class="col-md-7">
        <dl>
          <dt>
            [第一段]
          </dt>
          <dd>
            A description list is perfect for defining terms.
          </dd>
          <dt>
            Euismod
          </dt>
          <dd>
            Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
          </dd>
          <dd>
            Donec id elit non mi porta gravida at eget metus.
          </dd>
          <dt>
            Malesuada porta
          </dt>
          <dd>
            Etiam porta sem malesuada magna mollis euismod.
          </dd>
          <dt>
            Felis euismod semper eget lacinia
          </dt>
          <dd>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </dd>
        </dl>
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
      </div>
      <div class="col-md-5">
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
        <dl>
          <dt>
            [第二段]
          </dt>
          <dd>
            A description list is perfect for defining terms.
          </dd>
          <dt>
            Euismod
          </dt>
          <dd>
            Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
          </dd>
          <dd>
            Donec id elit non mi porta gravida at eget metus.
          </dd>
          <dt>
            Malesuada porta
          </dt>
          <dd>
            Etiam porta sem malesuada magna mollis euismod.
          </dd>
          <dt>
            Felis euismod semper eget lacinia
          </dt>
          <dd>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </dd>
        </dl>
      </div>
      <div class="col-md-12">
        <dt>[第三段]</dt>
        <dd>
          A description list is perfect for defining terms.
        </dd>
      </div>
    </div>
  </div>
</section>
<section class="service-sec" id="food">
  <div class="row">
    <div class="col-md-12">
      <h2>
        部落美食
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <div class="swiper-container" id="foodpic">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
          <div class="swiper-slide">Slide 10</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <p class="text-right">
        <a class="btn" href="#">了解更多 »</a>
      </p>
    </div>
  </div>
</section>
<!-- About
    ================================================== -->
<section class="about-sec parallax-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>關於<br>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;我們</h2>
      </div>
      <div class="col-md-4">
        <p>To enjoy good health, to bring true happiness to one's family, to bring peace to all, one must first discipline and control one's own mind. If a man can control his mind he can find the way to Enlightenment, and all wisdom and virtue will naturally come to him.</p>
        <p>Saving our planet, lifting people out of poverty, advancing economic growth... these are one and the same fight. We must connect the dots between climate change, water scarcity, energy shortages, global health, food security and women's empowerment. Solutions to one problem must be solutions for all.</p>
      </div>
      <div class="col-md-4">
        <p>Our greatest happiness does not depend on the condition of life in which chance has placed us, but is always the result of a good conscience, good health, occupation, and freedom in all just pursuits.</p>
        <p>Being in control of your life and having realistic expectations about your day-to-day challenges are the keys to stress management, which is perhaps the most important ingredient to living a happy, healthy and rewarding life.</p>
        <p><a href="/about_us" class="btn btn-transparent-white btn-capsul">Explore More</a></p>
      </div>
    </div>
  </div>
</section>
