<div class="row">
    <!--Main Content -->
    <div class="col-md-6 col-md-offset-3 col-xs-9 notice-content">
        <h1 id="topic1">民宿服務</h1>
        <h2 id="topic1-1">h2</h2>
        <h3>h3<h3>
        <h4>h4</h4>
        <h5>h5<h5>
        <strong>strong<strong>
        <small>small</small>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h2 id="topic1-2">sub-par-1-2</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <hr>
        <h1 id="topic2">到店付款</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electron</p>
        <hr>
        <h1 id="topic3">匯款資訊</h1>
        <p>Lorem Ipsum isoftware like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <hr>
        <h1 id="topic4">注意事項</h1>
        <h2 id="topic4-1">平假日定義</h2>
        <ul>
            <li>平日:</li>
            <li>假日:</li>
            <li>國定假日:</li>
        </ul>
        <h2 id="topic4-2">入退時間</h2>
        <ul>
            <li>入住時間:</li>
            <li>退房時間:</li>
        </ul>
        <h2 id="topic4-3">住宿須知</h2>
        <ul>
            <li>1.</li>
            <li>2.</li>
            <li>3.</li>
            <li>4.</li>
            <li>5.</li>
        </ul>
        <hr>
        <h1 id="topic5">改期退訂</h1>
        <ul>
            <li>欲更改住宿日期請於5日前通知，我們將保留訂金六個月</li>
            <li>預定住宿日前14日(含14日)取消訂房者，可退回全部訂金。</li>
            <li>預定住宿日前10日至13日取消訂房者，可退回70%的訂金。</li>
            <li>預定住宿日前7日至9日取消訂房者，可退回50%的訂金。</li>
            <li>預定住宿日前4日至6日取消訂房者，可退回40%的訂金。</li>
        </ul>
    </div>
    <!--Side Nav Bar -->
    <nav class="col-md-3 col-xs-3 bs-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked fixed">
            <li>
                <a href="#topic1">民宿服務</a>
                <ul class="nav nav-stacked">
                    <li><a href="#topic1-1">Sub-Group 1</a></li>
                    <li><a href="#topic1-2">Sub-Group 2</a></li>
                </ul>
            </li>
            <li>
                <a href="#topic2">到店付款</a>
            </li>
            <li>
                <a href="#topic3">匯款資訊</a>
            </li>
            <li>
                <a href="#topic4">注意事項</a>
                <ul class="nav nav-stacked">
                    <li><a href="#topic4-1">平假日定義</a></li>
                    <li><a href="#topic4-2">入退時間</a></li>
                    <li><a href="#topic4-3">住宿須知</a></li>
                </ul>
            </li>
            <li>
                <a href="#topic5">改期退訂</a>
            </li>
        </ul>
    </nav>
</div>
<div class="blank-bottom"></div>
