footer span { 
  margin-right: 10px; 
  margin-left: 10px; 
} 
 
footer div.row { 
  margin-top: 40px; 
  margin-bottom: 20px; 
} 
 
footer div.row p { 
  margin-left: 30px;
}

.action-sec {
    width: 100%;
    float: left;
    background: #222
}

.action-sec p {
	color: white;
}

.action-box {
    float: left;
    width: 100%;
    text-align: center;
}

.action-box h2 {
    color: #fff;
    font-size: 20px;
}