<hr>
<footer class="container">
  <div class="text-center center-block">
    <a href="https://www.facebook.com/YMTBandB/">
      <span class="fa-stack fa-2x">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-facebook-f fa-stack-1x fa-inverse" style="font-size:30px"></i>
      </span>
    </a>
    <a href="https://www.google.com.tw/maps/place/%E6%83%A0%E8%93%80%E6%9E%97%E5%A0%B4%E6%9C%88%E5%A4%A2%E7%94%B0/@24.0730731,120.9810469,17z/data=!3m1!4b1!4m5!3m4!1s0x3468de74951637a1:0x814efaa2948de93e!8m2!3d24.0730731!4d120.9832356">
      <span class="fa-stack fa-2x">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-map fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="">
      <span class="fa-stack fa-2x">
        <i class="fa fa-square fa-stack-2x"></i>
        <%= image_tag "line_icon.png", class: "fa-stack-1x", width:'70%' %>
      </span>
    </a>
    <a href="mailto:g0910566765@gmail.com">
      <span class="fa-stack fa-2x">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <br>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4" align="center">
        <p class="text-left"><i class="fa fa-phone fa-fw"></i> 0910566765 石小姐</p>
        <p class="text-left"><i class="fa fa-envelope fa-fw"></i>&nbsp;g0910566765@gmail.com</p>
      </div>
      <div class="col-sm-4" align="center">
        <p class="text-left"><i class="fa fa-home fa-fw"></i> 南投縣仁愛鄉新生村山林巷163號(16人景觀莊園)
          <p class="text-left"><i class="fa fa-home fa-fw"></i> 新生村山林巷6-2號(餐廳.營區.6人民宿)
          </p>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <p class="text-center">Copyright ©2017 MoonDream
      <br>
      <a href="" target=_new>- 月夢田民宿 -</a>
    </p>
  </footer>
