<div class="row">
  <div id="landing-view" class="col-md-12" align="center">
    <!-- Item 1 -->
    <div class="item active landing-img" style="background-image: url('<%= @img_url %>');background-position: <%= @img_offset %>">
      <h1 style="padding: <%= @title_offset %>"><%= @title %></h1>
    </div>
  </div>
</div>
