<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">月夢田</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">首頁 <span class="sr-only">(current)</span></a></li>
        <li><a href="/news">最新消息</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">客房介紹 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="menu-title"><a  href="#">景觀莊園</a></li>
            <li><a href="#">201月下</a></li>
            <li><a href="#">202夢境</a></li>
            <li><a href="#">203田園</a></li>
            <li><a href="#">204客房</a></li>
            <li><a href="#">一樓和室</a></li>
            <li role="separator" class="divider"></li>
            <li class="menu-title"><a href="#">花樹營區</a></li>
            <li><a href="#">梅之緣和室</a></li>
          </ul>
        </li>
        <li><a href="/notice">入住資訊</a></li>
        <li><a href="#">線上訂房</a></li>
        <li><a href="#">預定用餐</a></li>
        <li><a href="#">訂購手作特產</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "登入", '#' %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">相簿</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">關於我們 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">民宿緣起</a></li>
            <li><a href="#">民宿主人</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">地理位置</a></li>
            <li><a href="#">交通資訊</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
